bcrypt==5.0.0
blinker==1.9.0
click==8.3.1
colorama==0.4.6
dnspython==2.8.0
Flask==3.1.2
flask-cors==6.0.2
itsdangerous==2.2.0
Jinja2==3.1.6
MarkupSafe==3.0.3
PyJWT==2.10.1
pymongo==4.15.5
python-dotenv==1.2.1
Werkzeug==3.1.4
tensorflow==2.16.1
pillow==10.2.0
numpy==1.26.4
reportlab==4.2.5
torch==2.2.0
torchvision==0.17.0
ultralytics==8.3.0
opencv-python==4.9.0.80
google-genai
